:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
}

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

a {
    color: red;
}

.main {
    background-color: rosybrown;
    display: flex;
}

.section-title {
    display: inline-block;
    line-height: 10px;
    background-color: seagreen;
    width: 50%;
    padding-right: 20px;
    font-size: 40px;
    text-align: right;
}

.text {
    background-color: red;
    width: 100%;
    padding-left: 20px;
}

