:root {
    --page-color: #a4a4b4;
}

body {
    background-color: var(--page-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px 35px;
    background-color: rgb(88, 84, 84);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    background-color: lightblue;
    font-weight: bold;
    margin: 0;
    padding: 10px;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width: 100%;
}

header nav ul li {
    border-bottom: 4px solid currentColor;
}

header nav ul li a {
    font-size: 25px;
    padding: 0px 20px;
    color: lightblue;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 10px;
}

.hero img {
    width: 100%;
}

.quote {
    background-color: wheat;
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 20px;
    padding: 5px;
}

.section-title {
    /* display: flex; */
    /* background-color: gray; */
    /* align-items: flex-start; */
    width: 35%;
    padding-right: 20px;
    font-size: 25px;
    text-align: right;
    border-right: 5px solid;
}

#work {
    width: 22.5%;
}

.section-title h2 {
    /* line-height: 100%; */
    /* background-color: indigo; */
}

.text {
    /* background-color: red; */
    width: 150%;
    padding: 0px 20px;
    /* padding-left: 20px; */
    /* padding-top: 0px; */
}

.about-me,
.work,
.contact-me {
    display: flex;
    /* justify-content: space-evenly; */
    padding-right: 15px;
    padding-bottom: 50px;
    /* align-items: flex-start; */
    /* box-sizing: content-box; */
}

.about-me {
    /* background-color: slateblue; */
}

.work {
    /* background-color: tan; */
}

.work-examples-container {
    background-color: brown;
    width: 100%;
    /* max-width: 2000px; */
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
}

.work-grid-item-first,
.work-grid-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.work-grid-item-first {
    /* background-color: orange; */
    /* border: 1px solid black; */
    width: 500px;
    height: 300px;
    padding-top: 10px;
    padding-left: 20px;
}

.work-grid-item {
    /* background-color: orange; */
    /* border: 1px solid black; */
    width: 250px;
    height: 150px;
    padding-left: 20px;
}

.work-examples-container img {
    width: 100%;
    height: 100%;
}

.project-title,
.project-type {
    position: absolute;
    bottom: 20px;
    right: 15px;
    font-size: 20px;
    padding: 5px;
    background-color: cyan;
}

.contact-me {
    /* background-color: palegreen; */
    /* padding-bottom: 0px; */
}

.contact-me .text ul {
    /* background-color: seagreen; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    width: 100%;
    padding-top: 5%;
}

.contact-me .text ul li {
    border-bottom: 4px solid currentColor;
}

.contact-me .text ul li a {
    text-decoration: none;
}

.contact-me .text li:last-child {
    /* padding-right: 100px; */
}

@media screen and (max-width: 980px) {
    body {
        background-color: darkgreen;
    }
}

@media screen and (max-width: 768px) {
    body {
        background-color: purple;
    }
}

@media screen and (max-width: 575px) {
    body {
        background-color: whitesmoke;
    }
}